@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background: #5c8ace;
    color: black;
    line-height: 1.6;
    padding: 20px;

}

.login-container {
    max-width: 600px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.login-icon {
    display: flex;
    margin-bottom: 20px;
    text-align: center;

}

.login-icon i {
    font-size: 50px;
    color: #171b22;
}
h2.login-topic {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
}
form label {
    margin-bottom: 10px;
    font-weight: 600;
}
form input[type="text"],
form input[type="password"]
{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}
form button[type="submit"] {
    padding: 15px;
    background: #5c8ace;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background 0.3s ease;
}
.divider {
    text-align: center;
    margin: 20px 0;
    position: relative;
}
.divider .divider-line {
    border-top: 1px solid #ccc;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    z-index: 1;
}
.divider span {
    background: #fff;
    padding: 0 10px;
    font-size: 1.2rem;
    color: #666;
    position: relative;
    z-index: 2;
}

button.btn-social {
    background-color: rgb(159, 177, 212);
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button.btn-social i {
    margin-right: 10px;
    font-size: 1.5rem;
}
.signup-link {
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;

}
.signup-link a {
    color: #5c8ace;
    text-decoration: none;
    font-weight: 600;
}
button.btn-social:hover {
    background-color: rgb(79, 127, 224);
}
